.has-error input{
    border: 1px solid red;
}

input {
    width: 443px;
    border: 1px solid #C4C4C4;
}

.error {
    font-size: 12px;
    color: red;
}

button {
    margin-top: 10px;
}

.red {
    color: #EB5757;
}

.subtitle {
    color: #828282;
    font-size: 14px;
    text-align: center;
}