<div class="container">
    <h1>Registration</h1>
<form action="">
    <div>
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName">
    </div>
    <div>
        <label for="lastName">Last Name</label>
        <input type="text" name="firstName" id="firstName">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button>Глазик</button>
    </div>
    <div>
        <label for="repeatPassword">Repeat password</label>
        <input type="password" name="repeatPassword" id="repeatPassword">
        <button>Глазик</button>
    </div>
    <button>Submit</button>
</form>
</div>
