.has-error input{
    border: 1px solid red;
}

h1 {
    font-size: 48px;
    text-align: center;
}

.cont-form {
    border: 1px solid #C4C4C4;
    padding: 30px;
}

input {
    width: 443px;
    border: 1px solid #C4C4C4;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.error {
    font-size: 12px;
    color: red;
}

button {
    margin-top: 10px;
}

.red {
    color: #EB5757;
}

.subtitle {
    color: #828282;
    font-size: 14px;
    text-align: center;
}

.reg-btn {
    width: 270px;
    height: 50px;
    background-color: black;
    color: white;
}

.back-home {
    text-decoration: none;
    color: #828282;
    font-size: 14px;
    margin-left: 927px;
}