<div class="container">
    <div class="all-ord">All orders: {{ this.orderDb.getCount() }}</div>
    <div class="price">Total price: {{ this.orderDb.getPrice() }}</div>
        <div class="order">
            <div *ngFor="let order of orderDb.orders" class="ord-prod">
                    <div>{{ order.name }}</div>
                    <img src="{{ order.img }}" alt="">
                    <div>{{ order.productCount }}</div>
                    <div>{{ order.orderStatus }}</div>
                    <button (click)="this.deleteProduct(order.id)">Delete</button>
            </div>
        </div>
</div>

