<button class="btn-prod" routerLink="/products">Products</button>
<div class="panel-users container">
    <div *ngFor="let user of users">
        <div>{{ user.firstName }} {{ user.lastName }}</div>
        <div>{{ user.email }}</div>
        <div>{{ user.role }}</div>
        <button *ngIf="user.role == 'user'"
                (click)="changeRole(user)">Change to admin</button>
        <button *ngIf="user.role == 'admin'"
                (click)="changeRole(user)">Change to user</button>
    </div>
</div>