/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Oswald', sans-serif;
}

















@font-face {
    font-family: "Oswald";
    src: url("./assets/fonts/Oswald-VariableFont_wght.ttf") format('truetype');
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-paginator button{
    border-radius: 0px ;
    background-color: blue !important;
}

.mat-mdc-icon-button{
    border-radius: 0px !important;
}
.container{
    /* max-width: 400px; */
}