<div class="container">

    <div class="search-string">
        <input type="text" placeholder="Nike Air Max" (change)="searchProduct($event)">
        <button class="change-sorting" (click)="changeSorting()">{{ direction }}</button>
        <select class="selec-prod" #selectElem (change)="setNewType(selectElem.value)">
            <option value="all">All</option>
            <option value="shoes">Shoes</option>
            <option value="outerwear">Outerwear</option>
            <option value="socks">Socks</option>
            <option value="trousers">Trousers</option>
        </select>
    </div>
    
    <div class="main-content">
        <div *ngFor="let product of currentPageData" class="product">
            <img src="{{ product.img }}" alt="nike">
            <h5>{{ product.name }}</h5>
            <div class="price">{{ product.price }} €</div>
            <button [routerLink]="['/details/', product.id]">More</button>
        </div>
    </div>

    <app-paginator [totalItems]="filterProducts.length" [pageSize]="10" (pageChanged)="onPageChanged($event)"></app-paginator>
</div>


