<button class="button" routerLink="/user-role">User role</button>
<button class="button" [routerLink]="['/add-product/', 1]">Add Product</button>

<div class="product-panel container">
        <div>
            <ul class="panel-prod">
                <li>Name</li>
                <li>Image</li>
                <li>Description</li>
                <li>Price</li>
                <li>Discount</li>
                <li>Count</li>
            </ul>
            <div *ngFor="let product of products" class="panel-prod">
                <div>{{ product.name }}</div>
                <img src="{{ product.img }}" alt="nike">
                <div>{{ product.description }}</div>
                <div>{{ product.price }} €</div>
                <div>{{ product.discount }} %</div>
                <div>{{ product.count}}</div>
                <div>
                    <button [routerLink]="['/add-product/', product.id]">Edit</button>
                    <button (click)="deleteProduct(product.id)">Delete</button>
                </div>
            </div>
        </div>
</div>
